.container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 32px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;
}

.company {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.invoiceInfo {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 14px;
  gap: 5px;
}

.invoiceTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.billTo {
  border-bottom: 2px solid #d1d5db;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.billTo h2 {
  font-size: 18px;
  margin-bottom: 16px;
}

.billTo p {
  margin-bottom: 4px;
}

.table {
  width: 100%;
  min-width: 720px;
  border-spacing: 0 14px;
  border-collapse: separate;
  font-size: 0.875rem;
}

.table th,
.table td {
  padding: 12px 14px;
  white-space: nowrap;
  text-align: left;
}

.table thead tr {
  background: oklch(27.9% 0.041 260.031);
}

.table tbody tr {
  background-color: oklch(27.9% 0.041 260.031);
}

.table tr th:first-child,
.table tr td:first-child {
  border-radius: 12px 0 0 12px;
}

.table tr th:last-child,
.table tr td:last-child {
  border-radius: 0 12px 12px 0;
}

.row {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  margin-bottom: 16px;
}

.total {
  font-size: 24px;
  font-weight: 800;
}

.footer {
  border-top: 2px solid #d1d5db;
  padding-top: 32px;
}

.footer p {
  margin-bottom: 8px;
}
