:root {
  --background: oklch(96.8% 0.007 247.896);
  --foreground: oklch(20.8% 0.042 265.755);
  --color-primary: oklch(58.8% 0.158 241.966);
  --color-hover: oklch(68.5% 0.169 237.323);
  --color-active: oklch(74.6% 0.16 232.661);
  --color-border: oklch(50% 0.134 242.749);
  --color-error: oklch(50.5% 0.213 27.518);
  --color-succes: oklch(62.7% 0.194 149.214);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: oklch(20.8% 0.042 265.755);
    --foreground: oklch(96.8% 0.007 247.896);
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
