.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: row; /* ← misma dirección */
  align-items: center; /* centra verticalmente */
  justify-content: space-between; /* separa Title y botón */
  margin-bottom: 16px;
}

.header > :nth-child(2) {
  align-self: auto;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.grid button {
  grid-column: 1 / -1;
  justify-self: center;
}

.container {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  min-width: 720px;
  border-spacing: 0 14px;
  border-collapse: separate;
  font-size: 0.875rem;
}

.table th,
.table td {
  padding: 12px 14px;
  white-space: nowrap;
  text-align: left;
}

.table thead tr {
  background: oklch(27.9% 0.041 260.031);
}

.table tbody tr {
  background-color: oklch(27.9% 0.041 260.031);
}

.table tr th:first-child,
.table tr td:first-child {
  border-radius: 12px 0 0 12px;
}

.table tr th:last-child,
.table tr td:last-child {
  border-radius: 0 12px 12px 0;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  border-radius: 50%;
}

.brand span {
  color: oklch(55.1% 0.027 264.364);
}

.price {
  font-weight: 600;
}

.iconDelete {
  color: var(--color-error);
  height: 1.2rem;
  width: 1.2rem;
  transition: color 0.2s ease-in-out;
  &:hover,
  &:active {
    color: oklch(63.7% 0.237 25.331);
  }
}

.iconCreate {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  outline: 2px solid var(--color-primary);
  transition: outline-color 0.2s ease-in-out;
  &:hover,
  &:active {
    outline-color: var(--color-hover);
  }
}

/* invoices.module.css */
.totalLabel {
  text-align: right;
  font-weight: bold;
}

.totalAmount {
  font-weight: bold;
}

.cardProduct {
  display: flex;
  align-items: center;
  justify-content: center;
}
