.signin {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  outline: 2px solid oklch(42.4% 0.199 265.638);
  border: none;
  border-radius: 10px;
  padding: 2rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.formGrid {
  display: grid;
  gap: 1rem; /* espacio entre inputs */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.error {
  color: var(--color-error);
  text-align: center;
}

.container h2 {
  margin-bottom: 2rem;
  text-align: center;
}

.link {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--color-primary);
  &:hover {
    color: var(--color-hover);
    text-decoration: underline;
  }
}

.account {
  text-align: center;
  margin-top: 8px;
  font-size: 14px;
}

.account span {
  color: var(--color-primary);

  &:hover {
    color: var(--color-hover);
    text-decoration: underline;
  }
}
